My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2336,
        160
      ],
      "id": "e5a4303e-512c-4266-986a-845e15638eb2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6094a1ff-267e-4195-9331-c7032c6cb5c6",
              "name": "query",
              "value": "AI news",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2128,
        160
      ],
      "id": "2f52d606-c367-4a1c-95f1-766356f26fb6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": ""
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"q\": \"AI news\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1360,
        160
      ],
      "id": "8e28a7a2-df63-43e4-9b38-3e8816b1e139",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "return $json.organic.slice(0, 5).map(o => ({ url: o.link }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        160
      ],
      "id": "07ae37d1-faa0-4a43-8a2c-ceb1ede0cb14",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "={{$json[\"url\"]}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        176
      ],
      "id": "1970ae58-3196-4bda-aabe-ffd034963ed0",
      "name": "HTTP Request1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -880,
        160
      ],
      "id": "39942121-4d6d-4e56-9836-183418ef2dab",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        -864,
        352
      ],
      "id": "07592d5f-7e48-4a77-a2b9-8938e31931ea"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "try {\n    let html = $json.body || $json;\n    if (typeof html !== 'string') html = JSON.stringify(html);\n\n    let text = html\n        .replace(/<script[^>]*>([\\s\\S]*?)<\\/script>/gi, '')\n        .replace(/<style[^>]*>([\\s\\S]*?)<\\/style>/gi, '')\n        .replace(/<[^>]+>/g, ' ')\n        .replace(/[\\n\\r\\t]/g, ' ')     // Remove line breaks and tabs\n        .replace(/\\s+/g, ' ')\n        .trim();\n\n    return {\n        json: {\n            link: $json.link,\n            content: text\n        }\n    };\n} catch (error) {\n    return {\n        json: {\n            link: $json.link,\n            content: '',\n            error: error.message\n        }\n    };\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        176
      ],
      "id": "dba831af-87fa-4d17-bb49-cc00751b3aa8",
      "name": "Code1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -288,
        160
      ],
      "id": "acae1336-f119-42af-a10c-983f91578f8b",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me1",
      "typeVersion": 1,
      "position": [
        -256,
        384
      ],
      "id": "9106dd7c-acbe-471a-a9f0-b2d5316f9808"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro:generateContent?key=AIzaSyCyPz8SiN-pTP4Bx2-6e88sS8K1AclA7C4",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"{{$json['query']}}\"\n        }\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1760,
        160
      ],
      "id": "da7d856d-b7a1-4786-bee9-f0fbc674fb5f",
      "name": "HTTP Request2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "html",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        384,
        128
      ],
      "id": "04b8622d-fc1b-464d-9832-6a55b3dd9f27",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-1.5-flash-8b-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-1.5-flash-8b-latest"
        },
        "messages": {
          "values": [
            {
              "content": "=summarize that text\n{{ $json[\"content\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -64,
        144
      ],
      "id": "166c9f94-a413-40ee-a91b-050070e97ac3",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "hndadibGq8MguWrC",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "04b95c59-3aa3-4fba-b86a-2a27d2b176c7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17d92a4ea857a1e6bfdb5d7fb9d27baf2c8e5d7b6e223269536cc506f688441e"
  },
  "id": "d87JnaWsoPr2qsX0",
  "tags": []
}
